@{
    ViewData["Title"] = "Index";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <base href="../../../../">
    <meta charset="utf-8" />
    <title>Hoşgeldiniz||MEminBlog</title>
    <meta name="description" content="Singin page example" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="canonical" href="https://keenthemes.com/metronic" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="assets/css/pages/login/login-3.css" rel="stylesheet" type="text/css" />
    <link href="~/demo11/dist//assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/demo11/dist/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/demo11/dist/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="~/demo11/dist/assets/media/logos/favicon.ico" />
</head>

<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled page-loading">
    <div class="d-flex flex-column flex-root">
        <div class="login login-3 wizard d-flex flex-column flex-lg-row flex-column-fluid">
            <div class="login-aside d-flex flex-column flex-row-auto">
                <div class="d-flex flex-column-auto flex-column pt-lg-40 pt-15 ml-6">
                    <a href="#" class="login-logo text-center pt-lg-25 pb-10">
                        <img src="~/demo11/dist/assets/media/logos/logo-1.png" class="max-h-70px" alt="" />
                    </a>
                    <h3 class="font-weight-bolder text-center font-size-h4 text-dark-50 line-height-xl ml-3">
                        MEmin Blog Sitesine Hoşgeldiniz
                        <br />Devam Etmek İçin Giriş Yapınız.
                    </h3>
                </div>
                <div class="aside-img d-flex flex-row-fluid bgi-no-repeat bgi-position-x-center" style="background-position-y: calc(100% + 5rem); background-image: url(~/demo11/dist/assets/media/svg/illustrations/login-visual-5.svg)"></div>
            </div>
            <div class="login-content flex-row-fluid d-flex flex-column p-10">


                <div class="d-flex flex-row-fluid flex-center">
                    <div class="login-form">
                        @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                        {
                            <div class="pb-5 pb-lg-15">
                                <h3 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">Giriş Yap</h3>
                                <div class="text-muted font-weight-bold font-size-h4">
                                    Yeni misin?
                                    <a href="/Register/Register/" class="text-primary font-weight-bolder">Hesap Oluştur</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="font-size-h6 font-weight-bolder text-dark">Kullanıcı E-mail</label>
                                <input class="form-control h-auto py-7 px-6 rounded-lg border-0 " type="email" name="UserEmail"  required autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <div class="d-flex justify-content-between mt-n5">
                                    <label class="font-size-h6 font-weight-bolder text-dark pt-5">Şifre</label>
                                </div>
                                <input class="form-control h-auto py-7 px-6 rounded-lg border-0" type="password" name="UserPassword" required autocomplete="off" />
                            </div>
                            <div class="pb-lg-0 pb-5">
                                <button type="submit" id="kt_login_singin_form_submit_button" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Giriş Yap</button>

                            </div>
                        }

                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
    <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
    <script src="~/demo11/dist/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/demo11/dist/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="~/demo11/dist/assets/js/scripts.bundle.js"></script>
    <script src="~/demo11/dist/assets/js/pages/custom/login/login-3.js"></script>
</body>
</html>

