<base href="">
<meta charset="utf-8" />
<title>Metronic Live preview | Keenthemes</title>
<meta name="description" content="Updates and statistics" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="canonical" href="https://keenthemes.com/metronic" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
<link href="assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
<link href="~/demo11/dist/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
<link href="~/demo11/dist/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
<link href="~/demo11/dist/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

<link rel="shortcut icon" href="~/demo11/dist/assets/media/logos/favicon.ico" />